body {font-family:'Segoe UI' !important;padding:2%;padding-left:10%;padding-right:10%;}
a,p {color:#000;transition-duration:0.2s;text-decoration:none;margin-left:3px;}
a:hover {color:#333;border-left:3px solid #333;padding-left:3px;}
a:visited {color:#000;}
#title {font-size:30px;}
i {color:#aaa;font-size:10px;top:-2px;position:relative;}
.indent {margin-left:20px;}
.noclick {cursor:default;}
.noclick:hover {padding-left:0px;border:none;color:#000;}
.title {font-size:20px;font-weight:bold;}